body {
  margin: 0;
  /* border: solid 3px black; */
  margin-bottom: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.header {
  display: flex;
  background-image: url(images/chat-header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* border: solid 2px red; */
  height: 100vh;
  /* max-height: 140.1vh; */
  align-items: center;
  width: 100%;
  -webkit-box-shadow: 0px 0px 82px 12px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0px 0px 82px 0px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 0px 82px 12px rgba(0, 0, 0, 0.37);
}



h1 span {
  color: #fff;
  font-size: 2.8125rem;
  padding: 0 15px;
  background-color: rgb(56, 172, 240);
}

h1 {
  line-height: 1.6;
  margin-left: 5%;
}


.scroll {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}

.scroll span {
  position: absolute;
  top: 0;
  width: 45px;
  height: 45px;
  margin-left: -25px;
  border-left: 4px solid white;
  border-bottom: 4px solid white;
  transform: rotate(-45deg);
  animation: btnscroll 2s infinite;

}

@keyframes btnscroll {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }

  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }

  40% {
    transform: rotate(-45deg) translate(0, 0);
  }

}


.lineh {

  max-width: 1100px;

  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.lineh .line {
  width: 100%;
  border-bottom: solid 3px black;

}

.lineh .line-txt {
  white-space: nowrap;
  margin-left: 10px;
  margin-right: 10px;
}





.container {
  display: flex;
  width: 100%;
  align-items: center;
  /* border: solid 3px red; */
  padding: 5px;
  max-width: 1100px;
  margin: 50px auto;
}


.item1 {

  background-image: url(images/chat1.jpg);
  background-size: contain;
  background-repeat: no-repeat;

  /* border: solid 3px green; */
  width: 20%;
  margin: 5px auto;
  padding: 0 auto;
  border-radius: 20px;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 25px 82px -12px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0px 25px 82px -12px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 25px 82px -12px rgba(0, 0, 0, 0.37);

}

.item2 {

  background-image: url(images/chat2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  margin: 5px auto;
  /* border: solid 3px green; */
  width: 20%;
  padding: 0 auto;
  border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 25px 82px -12px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0px 25px 82px -12px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 25px 82px -12px rgba(0, 0, 0, 0.37);


}

.item3 {

  background-image: url(images/chat3.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20%;
  margin: 5px auto;
  padding: 0 auto;
  border-radius: 20px;
  /* border: solid 3px green; */
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 25px 82px -12px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0px 25px 82px -12px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 25px 82px -12px rgba(0, 0, 0, 0.37);


}

.item4 {

  background-image: url(images/chat4.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20%;
  margin: 5px auto;
  padding: 0 auto;
  background-color: rgba(255, 255, 255, 0.637);
  /* border: solid 3px green; */
  border-radius: 20px;
  -webkit-box-shadow: 0px 25px 82px -12px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0px 25px 82px -12px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 25px 82px -12px rgba(0, 0, 0, 0.37);


}


p {
  text-align: left;
  margin: 25px;
  padding: 0px;
}



.p-img1 {
  border-radius: 5px;
  margin-top: 50%;
  margin-left: 35%;
  width: 50%;
  padding: 5px;
  padding-left: 10px;
  background-color: red;
  color: white;
  font-size: 20px;
  text-align: ju;
  text-justify: auto;

}

.p-img2 {
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  width: 50%;
  margin-top: 50%;
  margin-left: 15%;
  background-color: red;
  color: white;
  font-size: 20px;


}

.p-img3 {
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  width: 50%;
  margin-top: 50%;
  margin-left: 25%;
  background-color: red;
  color: white;
  font-size: 20px;


}



.p-img4 {
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  width: 50%;
  margin-top: 50%;
  margin-left: 35%;
  background-color: red;
  color: white;
  font-size: 20px;


}

.center{
  text-align: center;
  margin:100px auto;
}


.lien-reserver{
  font-size: 2rem;
  text-decoration: none;
  color: yellow;
  border: solid yellow 3px;
  padding: 15px;
}

.lien-reserver:hover{
  animation: pulsation_bouton .8s ease-out;

}


@keyframes pulsation_bouton {
  from{
    box-shadow: 0 0 0 -3px rgba(255, 255, 255, 0), 0 0 0 0 rgb(218,179,73)
  }

  to{
    box-shadow: 0 0 0 -3px rgba(255, 255, 255, 0), 0 0 0 13px rgba(255, 255, 255, 0) 
  }
}




@media (max-width:1100px) {
  .p-img1 {
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    width: 50%;
    margin-top: 65%;
    text-align: left;
    margin-left: 25px;
    background-color: red;
    color: white;
    font-size: 20px;

  }

  .p-img2 {
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    width: 50%;
    margin-top: 65%;
    text-align: left;
    margin-left: 25px;
    background-color: red;
    color: white;
    font-size: 20px;

  }

  .p-img3 {
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    width: 50%;
    margin-top: 65%;
    text-align: left;
    margin-left: 25px;
    background-color: red;
    color: white;
    font-size: 20px;

  }

  .p-img4 {
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    width: 50%;
    margin-top: 65%;
    text-align: left;
    margin-left: 25px;
    background-color: red;
    color: white;
    font-size: 20px;

  }
}